flows (1).json
[{"id":"376e9071.2c98e","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"af73fecd.5dd7","type":"ibmiot in","z":"376e9071.2c98e","authentication":"apiKey","apiKey":"26c88fc2.13f48","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"015","applicationId":"","deviceType":"iot","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":false,"allFormats":"","qos":0,"x":530,"y":260,"wires":[["c76d75e0.b2ee98","21dedd74.6620f2","8d50422e.b7549","168e9d31.316503"]]},{"id":"21dedd74.6620f2","type":"function","z":"376e9071.2c98e","name":"present","func":"global.set('present',msg.payload.d.present)\nreturn {payload:msg.payload.d.present}","outputs":1,"noerr":0,"x":720,"y":340,"wires":[["f6d1cabb.1e5d58","c76d75e0.b2ee98"]]},{"id":"c76d75e0.b2ee98","type":"debug","z":"376e9071.2c98e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":970,"y":260,"wires":[]},{"id":"f6d1cabb.1e5d58","type":"ui_gauge","z":"376e9071.2c98e","name":"present","group":"22b81a8b.c95af6","order":0,"width":0,"height":0,"gtype":"gage","title":"present","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1040,"y":340,"wires":[]},{"id":"d6240a99.b1bc18","type":"inject","z":"376e9071.2c98e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":430,"y":600,"wires":[["c160edc3.691a6"]]},{"id":"c160edc3.691a6","type":"http request","z":"376e9071.2c98e","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://8e7237b7-402b-4171-a550-9af9eda65bf6-bluemix.cloudant.com/doorbell/_all_docs?include_docs=true&descending=true&limit=1","tls":"","persist":false,"proxy":"","authType":"basic","x":690,"y":600,"wires":[["639bceea.5aa87","dbfe53db.0304b"]]},{"id":"639bceea.5aa87","type":"debug","z":"376e9071.2c98e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":990,"y":600,"wires":[]},{"id":"550a07f0.8de138","type":"ui_template","z":"376e9071.2c98e","group":"22b81a8b.c95af6","name":"","order":3,"width":0,"height":0,"format":"<img ng-src={{msg.payload}} height=\"470\" width=\"280\"/>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1160,"y":540,"wires":[[]]},{"id":"dbfe53db.0304b","type":"function","z":"376e9071.2c98e","name":"image","func":"\nglobal.set('img',msg.payload.rows[0].doc.link)\nreturn {payload:msg.payload.rows[0].doc.link}","outputs":1,"noerr":0,"x":850,"y":540,"wires":[["550a07f0.8de138","639bceea.5aa87"]]},{"id":"175964c8.cccf4b","type":"http in","z":"376e9071.2c98e","name":"","url":"/message","method":"get","upload":false,"swaggerDoc":"","x":500,"y":960,"wires":[["f6be984b.5338e8"]]},{"id":"c4436ef1.057d9","type":"http response","z":"376e9071.2c98e","name":"","statusCode":"","headers":{},"x":1030,"y":900,"wires":[]},{"id":"f6be984b.5338e8","type":"function","z":"376e9071.2c98e","name":"commands","func":"msg.payload=msg.payload.command\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":960,"wires":[["c4436ef1.057d9","f37b9983.197158","87ef81c.6f7718"]]},{"id":"f37b9983.197158","type":"debug","z":"376e9071.2c98e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1030,"y":960,"wires":[]},{"id":"87ef81c.6f7718","type":"ibmiot out","z":"376e9071.2c98e","authentication":"apiKey","apiKey":"26c88fc2.13f48","outputType":"cmd","deviceId":"015","deviceType":"iot","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":1040,"y":1020,"wires":[]},{"id":"8d50422e.b7549","type":"cloudant out","z":"376e9071.2c98e","name":"","cloudant":"","database":"studentdata","service":"node-red-oikqn-cloudant-1590758013477-67252","payonly":false,"operation":"insert","x":1330,"y":260,"wires":[]},{"id":"ad7b95af.186488","type":"http in","z":"376e9071.2c98e","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":460,"y":800,"wires":[["ab7eb4a6.338bd8"]]},{"id":"dfd5fe44.feea3","type":"http response","z":"376e9071.2c98e","name":"","statusCode":"","headers":{},"x":990,"y":800,"wires":[]},{"id":"ab7eb4a6.338bd8","type":"function","z":"376e9071.2c98e","name":"httpresponse","func":"msg.payload={\"present\":global.get('present')}\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":800,"wires":[["dfd5fe44.feea3"]]},{"id":"30432b22.265214","type":"function","z":"376e9071.2c98e","name":"httpresponse","func":"msg.payload=global.get('img')\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":720,"wires":[["f552b664.8a4248"]]},{"id":"f552b664.8a4248","type":"http response","z":"376e9071.2c98e","name":"","statusCode":"","headers":{},"x":990,"y":720,"wires":[]},{"id":"58bb953b.fc19fc","type":"http in","z":"376e9071.2c98e","name":"","url":"/imageurl","method":"get","upload":false,"swaggerDoc":"","x":490,"y":720,"wires":[["30432b22.265214"]]},{"id":"168e9d31.316503","type":"function","z":"376e9071.2c98e","name":"person","func":"global.set('person',msg.payload.d.person)\nreturn {payload:msg.payload.d.person}","outputs":1,"noerr":0,"x":730,"y":400,"wires":[["c76d75e0.b2ee98","6c367d7c.3fc454"]]},{"id":"6c367d7c.3fc454","type":"ui_gauge","z":"376e9071.2c98e","name":"person","group":"22b81a8b.c95af6","order":2,"width":0,"height":0,"gtype":"gage","title":"person","label":"units","format":"{{value}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1050,"y":400,"wires":[]},{"id":"26c88fc2.13f48","type":"ibmiot","z":"","name":"iot","keepalive":"60","serverName":"uxl664.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"22b81a8b.c95af6","type":"ui_group","z":"","name":"smart attendence","tab":"5c407278.9073ac","order":1,"disp":true,"width":"6","collapse":false},{"id":"5c407278.9073ac","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]